@using MvcOnlineTicariOtomasyon.Models.Siniflar
@model List<Departman>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<table class="table table-striped " style="margin-top:20px;">
    <tr>
        <th>ID</th>
        <th>Departman Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
        <th>Detaylar</th>
        
    </tr>
    @foreach (var d in Model)
    {
<tr>
    <td>@d.DepartmanId</td>
    <td>@d.DepartmanAd</td>
    <td><a href="/Departman/DepartmanSil/@d.DepartmanId" class="btn btn-danger">Sil</a></td>
    <td><a href="/Departman/DepartmanGetir/@d.DepartmanId" class="btn btn-warning">Güncelle</a></td>
    <td><a href="/Departman/DepartmanDetay/@d.DepartmanId" class="btn btn-info">Detay</a></td>

</tr>
    }

</table>
<a href="/Departman/DepartmanEkle" class="btn btn-primary">Yeni Departman</a>

