@model MvcOnlineTicariOtomasyon.Models.Siniflar.Cari
<div class="login-form login-form-left">
    <div class="agile-row">
        <h3>Yeni Cari Kayıt</h3>
        <div class="login-agileits-top">
            <form class="form-group" method="post">
                <input type="text" class="name" name="CariAd" Placeholder="Adınız" required="" />
                <input type="text" class="name" name="CariSoyad" Placeholder="Soyadınız" required="" />
                <input type="email" class="email" name="CariMail" Placeholder="Mail Adresi" required="" />
               <input type="text" class="name" name="Ilid" Placeholder="İl Plakası gir" required="" />
              
             
             

                <input type="password" class="password" name="CariSifre" Placeholder="Şifre" required="" />
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kurulları okudum <a href="#"> &amp; Kabul Ediyorum</a></label>
                </div>
                <input type="submit" value="Kaydet">
            </form>
        </div>
    </div>
</div>

