
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<br />
<br />
<button class="btn btn-primary" id="btn1">Buton1</button>
<button class="btn btn-warning" id="btn2">Buton2</button>
<button class="btn btn-info" id="btn3">Buton2</button>
<button class="btn btn-danger" id="btn4">Sil</button>

<script>
    $('#btn1').click(function () {
        swal("Hello World")
    });
</script>
<script>
    $('#btn2').click(function () {
        swal("Good job!", "You clicked the button!", "success");
    });
</script>
<script>
    $('#btn3').click(function () {
        swal("Click on either the button or outside the modal.")
            .then((value) => {
                swal(`The returned value is: ${value}`);
            });
    });
</script>

<script>
    $('#btn4').click(function () {

        swal({
            title: "Silmek istediğinizden eminmisiniz?",
            text: "Silindikten sonra, bu hayali dosyayı kurtarmak mümkün olmayacaktır!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Puf!  dosyanız silindi!", {
                        icon: "success",
                    });
                } else {
                    swal(" dosyanız güvende Silemdiniz!");
                }
            });
    });
</script>



@*https://sweetalert.js.org/guides/   bu sıteden ornek aldık*@ 